@import '../../resources/colors.scss';

.link {
    margin: 4px 0;

    a {
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'PT Sans Narrow';
        font-weight: bold;
    
        color: $base-5;
    
        cursor: pointer;
        outline: none;
    
        transition: all .125s ease-in-out;
    
        text-decoration: none;

        i {
            margin-right: 6px !important;
        }

        &:hover {
            color: $accent-5;
            text-decoration: underline;
        }

        &:active {
            color: $base-7;
        }
    }
}